.my_text_color {
	color: #17bed2;
}
.white{
	color: white;
}

.my_bg_color {
	background-color: #17bed2;
}

.my_bg {
	background: #17bed2;
}
.my_highlight {
	font-weight: normal;
	color: #17bed2;
	font-size: 15px;
}

.my_li {
  font-size: 15px;
  font-weight: 400;
  font-family: Hind, sans-serif;
  color: #a6a7aa;
  line-height: 1.0;
  margin-bottom: 8px;
}

.thumb {
  max-width: 300px;
  max-height: 300px;
  width: expression(this.width > 300 ? "300px" : true);
  height: expression(this.height > 300 ? "300px" : true);
}

.my_icon {
	font-size: 2em;
}

.self {
}

.self ul {
	padding-top: 0px;
}

.self ul li.ad {
	background-image:url(../images/icn-ad.gif);
}

.self ul li.mail {
	background-image:url(../images/icn-mail.gif);
}

.self ul li.tel {
	background-image:url(../images/icn-tel.gif);
}

.self ul li.web {
	background-image:url(../images/icn-web.gif);
}

.self ul .my_info_list{
	background-repeat: no-repeat;
	padding-left:26px;
	background-position: 0 .1em;
	height:25px;
	display:block;
	margin-top:-2px;
	margin-left:-30px;
}

.my_img {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.my_img:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.my_img2 {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.my_img2:hover {
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}
